@{
  ViewData["Title"] = "Afspraak maken";
}

<h1>Aanmelden intake gesprek</h1>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>
@if(ViewData["foutmelding"] != null)
{
  <div class="alert alert-warning" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
      @ViewData["foutmelding"].ToString()
    </div>
  </div>
}

<form asp-action="Index" method="post">
  <br>
  <div class="mb-3">
    <label for="firstNameInput" class="form-label">Voornaam</label>
    <input type="text" class="form-control" asp-validation-for="FirstName" aria-describedby="basic-addon1"
      id="firstNameInput" name="FirstName" pattern="^[a-zA-Z]+$" minlength="2" maxlength="40">
  </div><br>

  <div class="mb-3">
    <label for="lastNameInput" class="form-label">Achternaam</label>
    <input type="text" class="form-control" asp aria-describedby="basic-addon1" id="lastNameInput" name="LastName"
      pattern="^[a-zA-Z]+$" minlength="2" maxlength="40">
  </div><br>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="Email">
    <div id="emailHelp" class="form-text">We zullen je e-mailadres nooit met iemand anders delen.</div>
  </div><br>


  @* Condition dropdown section *@
  <div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupSelect01">Aandoening</label>
    <select class="form-select" id="inputGroupSelect01" name="Condition">
      <option selected>Kies...</option>
      <option value="ADHD">ADHD</option>
      <option value="Faalangst">Faalangst</option>
      <option value="Eetstoornis">Eetstoornis</option>
      <option value="Dyslexie">Dyslexie</option>
    </select>
  </div><br>


  @* Younger than 16 section *@
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" onchange="changeParentVisibility()">
    <label class="form-check-label" for="flexCheckDefault">
      Ben je jonger dan 16 jaar?
    </label>
  </div><br>


  @* ouders/voogd email section *@
  <fieldset disabled id="parentEmailFieldSet">
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Ouders/voogd email</label>

      <span data-bs-toggle="tooltip"
        title="Voor cliënten jonger dan 16 jaar moet ook de email van ouders ingevuld worden"><svg
          xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-question-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
        </svg></span>

      <input type="email" id="disabledTextInput" class="form-control" placeholder="Email van je ouder(s)/voogd"
        name="emailOfParent">
    </div>
  </fieldset><br>

  @* Date and Time picker section *@
  <div class="mb-3">
    <div>
      <label for="intakeDateTime" class="form-label">Wanneer wil je het gesprek hebben?</label>
    </div>
    <div>
      <input type="datetime-local" class="intakeDateTime" asp-validation-for="AppointmentDate" name="appointmentDate">
    </div>
  </div>
  <div id="alertPlaceHolder"></div>
  <button type="submit" class="btn btn-primary ZMDHButton" onclick="emailsAreEqual(event);">Verzenden</button>
</form>

<script>
  let today = new Date().toISOString().slice(0, 16);

  document.getElementsByClassName("intakeDateTime")[0].min = today;

  function changeParentVisibility() {

    let checkbox = document.getElementById("flexCheckDefault");
    let fieldset = document.getElementById("parentEmailFieldSet");
    if (checkbox.checked) {
      fieldset.disabled = false;
    }
    else {
      fieldset.disabled = true;
    }
  }

  function emailsAreEqual(event) {
    let clientEmail = document.getElementById("exampleInputEmail1").value;
    let guardianEmail = document.getElementById("disabledTextInput").value;
    if (clientEmail == guardianEmail) {
      event.preventDefault(); 
      alert('Foutmelding, ouder email en jongere email kunnen niet hetzelfde blijven', 'danger');
    }
  }


  function alert(message, type) {
    let alertPlaceholder = document.getElementById('alertPlaceHolder');
    let wrapper = document.createElement('div');
    wrapper.innerHTML = '<div id="alertPlaceHolder" class="alert alert-' + type + ' alert-dismissible" role="alert">' + message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>';
    alertPlaceholder.replaceWith(wrapper);
  }


</script>