@{
    ViewData["Title"] = "Afspraak maken";
}

<h3>Aanmelden intake gesprek</h3>

<form asp-action="Index" method="post">
  <br><div class="mb-3">
    <label for="firstNameInput" class="form-label">Voornaam</label>
    <input type="text" class="form-control" aria-describedby="basic-addon1" id="firstNameInput">
  </div><br>

  <div class="mb-3">
    <label for="lastNameInput" class="form-label">Achternaam</label>
    <input type="text" class="form-control" aria-describedby="basic-addon1" id="lastNameInput">
  </div><br>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We zullen je e-mailadres nooit met iemand anders delen.</div>
  </div><br>


 @* Condition dropdown section *@
  <div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupSelect01">Aanmelden voor aandoening </label>
    <select class="form-select" id="inputGroupSelect01">
      <option selected>Kies...</option>
      <option value="1">ADHD</option>
      <option value="2">Faalangst</option>
      <option value="3">Eetstoornis</option>
      <option value="4">Dyslexie</option>
    </select>
  </div><br>


 @* Younger than 16 section *@
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      Ben je jonger dan 16 jaar?
    </label>
  </div><br>


 @* ouders/voogd email section *@
  <fieldset disabled >
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Ouders/voogd email</label>

        <span data-bs-toggle="tooltip" title="Voor cliënten jonger dan 16 jaar moet ook de email van ouders ingevuld worden"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill"
          viewBox="0 0 16 16" >
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
        </svg></span>

        <input type="email" id="disabledTextInput" class="form-control" placeholder="Email van je ouder(s)/voogd">
      </div>
  </fieldset><br>

 @* Date and Time picker section *@
  <div class="mb-3">
    <div>
      <label for="intakeDateTime" class="form-label">Wanneer wil je het gesprek hebben?</label>
    </div>
    <div>
      <input type="datetime-local" id="intakeDateTime" aria-describedby="emailHelp">
    </div>
  </div>

  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

