<div class="container">
  <div class="row">

    <div class="col-lg-5 col-sm-12">
        <h1 class="display-4">Het intakegesprek inplannen is gelukt!</h1> <br>
        <h2 class="display-6">Je ontvangt binnen enkele ogenblikken een verificatiemail waarin je je eigen email verifieert en daarna kan inloggen</h2>
    </div>

    <div class="col-lg-7 col-sm-12">
        <img src="~/img/contact-aanvraag-gelukt.png" class="img-fluid" alt="Aanmelding gelukt afbeelding">
    </div>

  </div>
</div>