<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ZMDH</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WDPR_A.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="img-fluid" id="logo" src="/img/ZMDH-logo.png" alt="Logo van de kliniek Zorg Maatschap Den Haag"/></a>
                <button class="navbar-toggler ZMDHButton" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Specialismen" asp-action="Index">Specialismen</a>
                            </li>
                        @if (User.Identity.IsAuthenticated) {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Chat" asp-action="Index">Chat</a> 
                                @* dit moet gefixt worden guardian mag niet chat zien *@
                            </li>
                            <li class="nav-item">                      
                                <a class="nav-link text-dark" asp-area="" asp-controller="Orthopedagogue" asp-action="Client">Dossier</a>
                                @* dit moet gefixt worden guardian mag niet chat zien *@
                            </li>
                            <li class="nav-item">
                                <button type="button" class="btn LoginButton border-dark border-1 rounded-3" onclick="location.href='/identity/account/logout'">
                                    <strong>Loguit</strong> 
                                </button>
                            </li>
                        } else {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Appointment" asp-action="Index">Intake</a>
                            </li>
                            <li>
                                <button type="button" class="btn LoginButton border-dark border-1 rounded-3" onclick="location.href='/identity/account/login'">
                                    <strong>Login</strong> 
                                </button>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @if (ViewContext.RouteData.Values["controller"] != null && ViewContext.RouteData.Values["controller"].ToString() == "Chat")
    {
        <partial name="../Chat/_ChatSideBarPartial"/>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <div style="height:150px;"></div>
    </div>

    <footer class="border-top footer text-muted" >
        <div class="container" id="footertext">
            <strong>&copy; 2021 - @DateTime.Now.Year WDPR_A</strong>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>