@model List<WDPR_A.Models.Orthopedagogue>

@{
    ViewData["Title"] = "Moderator dashboard";
}

<div class="container"> 
    <div class="row">
    <div class="col-sm">
        <div class="input-group col-3">
            <label class="input-group-text" for="category">Filter op</label>
            <select class="form-select" id="category" name="Category">
            <option value="">Kies...</option>
            <option value="blockedClients" onclick="methodCall(this)">Laat alle geblokkeerde gebruikers zien</option>
            <option value="reportedMessages" onclick="methodCall(this)">Laat alle gerapporteerde berichten zien</option>
            </select>
        </div>   
    </div>
    </div>
</div>

<div class="row">
    <div id="listClient"></div>
</div>


<script>
    function methodCall(obj) {
        if(obj.value == "blockedClients") {
            $.ajax({
                type: "POST",
                url: "@Url.Action("showAllBlockClients")",
                data: {},
                dataType: "text",
                success: function (msg) {
                    $("#listClient").replaceWith(msg);
                },
                error: function (req, status, error) {
                    console.log(error)
                }
            });
        }else if(obj.value == "reportedMessages") {
            $.ajax({
                type: "POST",
                url: "@Url.Action("showAllReportedMessages")",
                data: {},
                dataType: "text",
                success: function (msg) {
                    $("#listClient").replaceWith(msg);
                },
                error: function (req, status, error) {
                    console.log(error)
                }
            });
        }
    }
</script>