@model List<WDPR_A.Models.Orthopedagogue>

@{
    ViewData["Title"] = "Moderator Paneel";
}

<div class="text-center">
    <h1 class="display-4"><strong>Moderator Paneel</strong></h1>
</div>
<br>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="input-group col-3">
                <label class="input-group-text" for="category">Filter op</label>
                <select class="form-select" id="category" name="Category">
                    <option value="">Keuze...</option>
                    <option value="blockedClients">Laat alle geblokkeerde gebruikers zien</option>
                    <option value="reportedMessages">Laat alle gerapporteerde berichten zien</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div id="listClient"></div>
</div>

@section scripts
{
<script>
    $("#category").on('change', function () {
        var selectedVal = $(this).val();
        switch (selectedVal) {
            case 'blockedClients':
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("showAllBlockClients")",
                    data: {},
                    dataType: "text",
                    success: function (msg) {
                        $("#listClient").replaceWith(msg);
                    },
                    error: function (req, status, error) {
                        console.log(error)
                    }
                });
                break;
            case 'reportedMessages':
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("showAllReportedMessages")",
                    data: {},
                    dataType: "text",
                    success: function (msg) {
                        $("#listClient").replaceWith(msg);
                    },
                    error: function (req, status, error) {
                        console.log(error)
                    }
                });
                break;
        }
    });
</script>
}