@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Welkom meneer/mevrouw Naam</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><strong>Kind(eren)</strong></h5>
        <li class="list-group-item">Alex, 14 jaar</li>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><strong>Chat-frequentie van kind(eren)</strong></h5>
        <p class="card-text" style="font-size: 12px;">Er is geen chat-frequentie voor kinderen die 16 jaar of ouder zijn.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  
</div>
