<partial name="_SpecialityPagePartial">    

<h1>ADHD</h1> <br>

<h3>Het Team</h3>

@* https://ibb.co/hgWWhNt
https://ibb.co/XyRp5GG
https://ibb.co/1T9XYHr
https://ibb.co/mGz7ZNg *@

@* <img src="" alt="test"> <br> *@
<img src="src\img\KarinKemperOrthopedagoog.png" class="img-fluid" alt="test">
@* @Url.Content("~/src/Images/KarinKemperOrthopedagoog.png") *@