<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Specialismen</li>
  </ol>
</nav>

<h1>Ons team is gespecialiseerd in de volgende specialisaties</h1> <br>

<h2 class="AlphabeticalSortingSpecialtys">A</h2>
<a class="SpecialtyLink" href="/Specialismen/afdeling/ADHD">ADHD</a> <br><br>

<h2 class="AlphabeticalSortingSpecialtys">D</h2>
<a class="SpecialtyLink" href="/Specialismen/afdeling/Dyslexie">Dyslexie</a> <br><br>

<h2 class="AlphabeticalSortingSpecialtys">E</h2>
<a class="SpecialtyLink"  href="/Specialismen/afdeling/Eetstoornis">Eetstoornis</a> <br><br>

<h2 class="AlphabeticalSortingSpecialtys">F</h2>
<a class="SpecialtyLink"  href="/Specialismen/afdeling/Faalangst">Faalangst</a> <br><br>

<style>
    .AlphabeticalSortingSpecialtys {
    }
    .SpecialtyLink {
        text-decoration: none;
    }
</style>

