<div class="d-flex flex-column align-items-stretch flex-shrink-0 text-white bg-dark" style="width: 380px;">
    <a href="#" class="d-flex align-items-center flex-shrink-0 p-3 link-white text-decoration-none border-bottom">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-5 fw-semibold text-white">Chats</span>
    </a>
    @* @foreach moet hieronder *@
    <div class="list-group list-group-flush border-bottom scrollarea">
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight" style="background-color: #ececec" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between" >
          <strong class="mb-1">List group item heading</strong>
          @* Hieronder komt dag van laatste 'Then' *@
          <small>Wed</small> 
        </div>
        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
      </a>
    </div>
  </div>