@model List<Chat>

<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-2">Message</div>
    <div class="col-4"><input type="text" id="messageInput" /></div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-6">
      <input type="button" id="sendButton" value="Send Message" />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-6">
    <ul id="messagesList"></ul>
  </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
@* <script src="~/js/chat.js"></script> *@

<script>
  "use strict";
  var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
  //Disable the send button until connection is established.
  document.getElementById("sendButton").disabled = true;

  connection.on("ReceiveMessage", function (user, message, date) {
    var card = $("<div class='card col-9 offset-3'></div>");
    var cardHeader = $(`<div class="card-header bg-warning">${user}</div>`);
    var cardBody = $("<div class='card-body'></div>").append(`<h5 class="card-title">${message}</h5>`, `<p class="card-text">${date}</p>`);
    $(card).append(cardHeader, cardBody);
    $("#messages").append(card);
  });

  connection
    .start()
    .then(function () {
      document.getElementById("sendButton").disabled = false;
    })
    .catch(function (err) {
      return console.error(err.toString());
    });

  document
    .getElementById("sendButton")
    .addEventListener("click", function (event) {
      var text = document.getElementById("messageInput").value;
      var roomId = Array.from(document.getElementsByClassName("sidebar_button")).find(button => button.classList.contains("active")).id;
      connection.invoke("SendMessage", text, roomId).catch(function (err) {
        return console.error(err.toString());
      });
      event.preventDefault();
      document.getElementById("messageInput").value = "";
    });
</script>