@{
    ViewData["Title"] = "Afspraak maken";
}

<h3>Aanmelden intake gesprek</h3>

<form action="" method="post">
  <br><div class="mb-3">
    <label for="firstNameInput" class="form-label">Voornaam</label>
    <input type="text" class="form-control" aria-describedby="basic-addon1" id="firstNameInput">
  </div><br>

  <div class="mb-3">
    <label for="lastNameInput" class="form-label">Achternaam</label>
    <input type="text" class="form-control" aria-describedby="basic-addon1" id="lastNameInput">
  </div><br>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We zullen je e-mailadres nooit met iemand anders delen.</div>
  </div><br>

  <div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupSelect01">Aanmelden voor aandoening </label>
    <select class="form-select" id="inputGroupSelect01">
      <option selected>Kies...</option>
      <option value="1">ADHD</option>
      <option value="2">Faalangst</option>
      <option value="3">Eetstoornis</option>
      <option value="4">Dyslexie</option>
    </select>
  </div><br>




  <div class="mb-3">
    <div>
      <label for="intakeDateTime" class="form-label">Wanneer wil je het gesprek hebben?</label>
    </div>
    <div>
      <input type="datetime-local" id="intakeDateTime" aria-describedby="emailHelp">
    </div>
  </div>

  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

