@{
  ViewData["Title"] = "Home Pagina";
}


<div class="container">

  <div class="row">

    <div class="col-lg-5 col-sm-12">
      <h1 class="display-2">De Praktijk voor Orthopedagogiek & Psychologie</h1> <br>
      <h2 class="display-7">Wij bieden jou een interactieve chatplatform aan gespecialiseerd naar jouw wensen. Om zo
        jouw aandoening te verbeteren!</h2> <br>
      <button type="button" class="btn btn-secondary ZMDHButton" onclick="location.href='/appointment/'">
        <strong>Meld je aan!</strong> </a>
      </button>
    </div>

    <div class="col-lg-7 col-sm-12">
      <img src="~/img/homepageImage.png" class="img-fluid" alt="Homepagina afbeelding">
    </div>

  </div> <br> <br>


  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              <strong>Heeft uw kind concentratie- of leerproblemen en maakt u zich zorgen? Dan kan uw kind mogelijk ADHD
                hebben.</strong>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              De verschijnselen zijn:
              <ul>
                <li>Erg druk zijn</li>
                <li>Snel afgeleid zijn</li>
                <li>Dingen doen zonder na te denken</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <strong>Heeft uw kind een onregelmatig eetpatroon en maakt u zich zorgen? Dan kan uw kind mogelijk
                eetstoornis hebben.</strong>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              De verschijnselen zijn:
              <ul>
                <li>Angst om dik te worden</li>
                <li>Lichamelijke klachten zoals maagpijn en buikpijn</li>
                <li>Bezig zijn met afvallen</li>
                <li>Liever niet eten als er mensen in de buurt zijn</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <strong>Heeft uw kind moeite met nauwkeurig lezen en het herkennen van letters en klanken en maakt u zich
                zorgen?
                Dan kan uw kind mogelijk dyslexie hebben.</strong>

            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              De verschijnselen zijn:
              <ul>
                <li>Hakkelt bij het lezen van lange woorden</li>
                <li>Draait de letters of volgorde van letters om tijdens het lezen</li>
                <li>Heeft soms moeite om op woorden te komen</li>
                <li>Heeft moeite met snel lezen en nauwkeurig lezen</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <strong>Heeft uw kind piekergedachten en een negatief zelfbeeld en maakt u zich zorgen? Dan kan uw kind
                mogelijk faalangst hebben. </strong>
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              De verschijnselen zijn:
              <ul>
                <li>hoge eisen stellen aan zichzelf</li>
                <li>weinig zelfvertrouwen</li>
                <li>black-out</li>
                <li>overtollig zweten</li>
                <li>uitstelgedrag</li>
                <li>snel ademen en buikpijn</li>
                <li>hoofdpijn hebben</li>
              </ul>
            </div>
          </div>
        </div>
      </div> <br>
    </div>

    <div class="col-lg-12 col-sm-12">
      <h3 class="display-6">Hoe nu verder?</h3> <br>
      <h5 class="display-10"> Dan bent u bij ons aan het juiste adres, want onze kliniek is gespecialiseerd in deze
        aandoeningen. Wij
        hebben
        voor elk van deze aandoeningen een gespecialiseerde hulpverlener die uw kind kan helpen met zijn/haar
        aandoening.</h5>
    </div>
  </div> <br><br> <br>


  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <h3 class="display-6">Vertrouwelijkheid met alle gegevens </h3> <br>
      <h5 class="display-10">Wij als kliniek gaan erg serieus om met de gegevens van u en uw kind. Daarom staat dit ook
        voorop in onze
        visie en worden alle gegevens goed beveiligd en veilig opgeslagen. Daarnaast kan niemand zomaar bij de
        gegevens en is dit alleen toegankelijk tot degene die daartoe bevoegd zijn (bijvoorbeeld: de hulpverlener die
        uw kind behandelt). Verder hebben we gebruik gemaakt van securitymaatregelen zoals: het gebruiken van een
        beveiligde kluis om toegang te krijgen naar de database. Zelfs de ontwikkelaars kunnen uw gegevens niet
        inzien. </h5>
    </div>
  </div> <br><br>

  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <h3 class="display-6">Het aanmeldproces</h3>
      <h5 class="display-10">Het aanmelden van uw kind (of het kind zelf, als hij/zij 16 jaar of ouder is) gaat op de
        volgende manier: </h5> <br>
      <ul>
        <li class="display-7">
          <h6 class="display-10">U klikt bij de tab op ‘intake’ boven bij de navigatie bar of klikt op de hoofdpagina op
            de knop ‘Meld mij aan!’</h6>
        </li><br>
        <li class="display-7">
          <h6 class="display-10">U wordt omgeleid naar een aanmeldpagina met een formulier om uw kind aan te melden.
            Indien uw kind ouder is dan 16 jaar, dan kan uw kind zichzelf aanmelden.</h6>
        </li> <br>
        <li class="display-7">
          <h6 class="display-10">U dient alle gegevens van het formulier in te vullen. (Als het kind zichzelf wil
            aanmelden, zonder u, is het mogelijk om het veld van “email van ouder/voogd” leeg te laten). </h6>
        </li> <br>
        <li class="display-7">
          <h6 class="display-10">Uw kind krijgt een email-verificatie met een verificatie-link, waarop hij/zij dient te
            klikken om de email van het kind te bevestigen. </h6>
        </li> <br>
        <li class="display-7">
          <h6 class="display-10">Tot slot dient het kind met de ouder (indien deze zijn/haar email heeft ingevuld) te komen
            op de gekozen intake-datum. Om een gesprek te hebben met een hulpverlener.</h6>
        </li> <br>
      </ul>
    </div>
  </div>


        <div style="height:150px;"></div>

</div>
