@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">De Praktijk voor Orthopedagogiek & Psychologie</h1>
    <p>Wij bieden jou een interactieve chatplatform aan gespecialiseerd naar jouw wensen. Om zo jouw aandoening te verbeteren!</p>
</div>
