<div class="container">

    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <h1 class="display-4">Over ons</h1>
            <article>
                <section>‘Zorg Maatschap Den Haag’ (ZMDH) is een praktijk voor orthopedagogiek & psychologie, die
                    minderjarige
                    jongeren met een aandoening helpt. Doormiddel van een interactief platform die door de kliniek wordt
                    aangeboden,
                    bestaat er de mogelijkheid voor een cliënt om veilig en leuk te chatten. Dit kan met een
                    hulpverlener in privé.
                    En dit kan gedaan worden in een zelfhulpgroep met andere jongeren.
                </section>
                <br>
                <section>Wij als ZMDH onderscheiden ons van de rest, omdat wij als enige een chat mogelijkheid bieden
                    aan uw kind.
                    Wat geheel gepersonaliseerd is voor uw kind. Dit is een veilige en leuke manier om te communiceren
                    met de
                    hulpverlener, maar ook met andere jongeren. We zijn ons bewust van de nieuwste technologische
                    trends, die
                    inspelen op jongeren. En daarom kiezen we voor een gemakkelijke, comfortabele en een
                    kindvriendelijke manier van
                    communiceren. Uw kind hoeft geen fysieke afspraken met de hulpverlener in te plannen en kan geheel
                    eigentijds
                    een bericht sturen naar de hulpverlener of zijn groepsgenoten.
                </section>
            </article> <br> <br>

        </div>
    </div>


    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <h1 class="display-4">De drie kernwaarden die voor onze praktijk gelden zijn het volgende:</h1> <br>

            <h2 class="display-6">1. De behandelingen moeten op een pleziervolle en veilige manier zijn voor uw kind.
            </h2>
            <section>Dit is belangrijk, omdat het kind zich als het ware thuis moet voelen. Een behandeling moet niet
                gezien worden
                als een
                verplichting, maar als een leuk moment voor het kind waarbij er plezier wordt ervaren. Natuurlijk wordt
                er wel inzet
                verwacht van uw kind en daarom gaan we naar de volgende kernwaarde.</section> <br>

            <h2 class="display-6">2. Het kind is betrokken en groeit in een uitdagende omgeving.</h2>
            <section>Het is belangrijk voor uw kind om in een uitdagende omgeving te zitten, omdat hierdoor het kind
                groeit op
                mentaal
                gebied. Met een uitdagende omgeving bedoelen wij bijvoorbeeld: uit je comfortzone gaan door te
                communiceren in een
                zelfhulpgroep met verschillende groepsgenoten. Of misschien een privégesprek te hebben met je
                hulpverlener over
                onderwerpen waar je niet in een keer over durft te spreken. Of je krijgt een uitdagende op maat gemaakte
                opdracht
                van de
                hulpverlener. Dit moet natuurlijk wel leuk blijven.</section> <br>


            <h2 class="display-6">3. Het kind moet zich gelijkwaardig kunnen voelen en er moet ruimte komen voor
                verbinding op
                sociaal vlak.</h2>
            <section>Tenslotte is dit een belangrijke kernwaarde, omdat het kind niet buitengesloten en laag moet kunnen
                voelen ten
                opzichte
                van de andere kinderen. Dat is ook de reden waarom we ervoor gekozen hebben om uw kind in
                zelfhulpgroepen te kunnen
                laten plaatsen met dezelfde aandoening. Hierdoor krijgt het kind het gevoel dat hij/zij niet alleen is
                en zich juist
                meer op zijn/haar gemak kan voelen, wat ontzettend belangrijk is voor het kind zijn persoonlijke
                ontwikkeling.
            </section> <br>
        </div>
    </div> <br>


    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <h1 class="display-4">Klachtenprocedure</h1>
            <section>Heeft u klachten of bent u ontevreden over de behandeling of iets anders? Neem dan gerust contact
                op door ons te mailen naar: zmdh.hhs@gmail.com. We zullen uw klacht dan zo spoedig mogelijk in
                behandeling nemen.
            </section> <br>
            <h2 class="display-6">Een kijkje in onze klachtenprocedure: </h2>
            <ol>
                <li>We ontvangen uw mail.</li>
                <li>Een secretaresse bekijkt uw mail. </li>
                <li>Daarna wordt er gekeken naar wat de reden was van de klacht.</li>
                <li>Daarna wordt er gekeken of we een passende oplossing kunnen bieden voor uw klacht.</li>
                <li>Als uw klacht succesvol afgehandeld is wordt de klacht afgesloten en wordt u hiervan op de hoogte gesteld.</li>
            </ol>
        </div>
    </div>

</div>
