<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <h1 class="display-6">Privacy</h1><br>
            <h3 class="display-8">Vertrouwelijkheid met alle gegevens </h3> <br>
            <section class="display-8">Wij als kliniek gaan erg serieus om met de gegevens van u en uw kind. Daarom
                staat dit ook voorop in
                onze visie en worden alle gegevens goed beveiligd en veilig opgeslagen. Daarnaast kan niemand zomaar bij
                de gegevens en is dit alleen toegankelijk tot degene die daartoe bevoegd zijn (bijvoorbeeld: de
                hulpverlener die uw kind behandelt). Verder hebben we gebruik gemaakt van securitymaatregelen zoals: het
                gebruiken van een beveiligde kluis om toegang te krijgen naar de database. Zelfs de ontwikkelaars kunnen
                uw gegevens niet inzien.</section>
        </div>
    </div> <br> <br>

    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <h3 class="display-8">Verwijzing privacyrichtlijnen </h3> <br>
            <section class="display-8">Wij als kliniek hechten veel waarde aan de privacy, omdat het een gevoelig
                onderwerp betreft voor zowel onze cliënten als onze medewerkers. Niemand wil zijn privé of gevoelige
                documenten en informatie op straat zien liggen en toegankelijk zijn voor iedereen. Daarom is het
                beschermen van gevoelige informatie een prioriteit.

            </section>

        </div>
    </div>
</div>
