html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  color: #eee;
}

.OrthopedagogueImage {
  width: 368px;
  height: 368px;
}

.a-no-underline {
  text-decoration: none;
  color: black;
}


#logo {
  width: 150px;
}

footer {
  background-color: #3e424f;
  height: 5%;
}

#footertext {
  color: white;
}

.ZMDHButton, button {
  background-color: #3e424f;
  padding: 0.75% 5% 0.75% 5%;
}

.ZMDHButton:hover, button:hover {
  background-color: #3e424f;
}

.ZMDHButton:active, button:active {
  background-color: #3e424f;
} 

.ZMDHButton:focus, button:focus {
  background-color: #3e424f;
}

.LoginButton {
  margin: 0 5% 0 0;
  padding: 0.5% 2% 0.5% 2%;
}