html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  color: #eee;
}

.OrthopedagogueImage {
  width: 368px;
  height: 368px;
}

.a-no-underline {
  text-decoration: none;
}

#logo {
  width: 150px;
}

footer {
  background-color: #3e424f;
}

#footertext {
  color: white;
}
