@model WDPR_A.Models.Orthopedagogue

@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4"><strong>Dashboard</strong></h1>
    <h2 class="display-8">Welkom @Model.FirstName.First(), @Model.LastName</h2>
</div>