@model WDPR_A.Models.Appointment

@{
    ViewData["Title"] = "Registration";
}

<div class="text-center">
    <h1 class="display-4"><strong>Registration</strong></h1>
    <h2 class="display-8">Welkom @Model.Orthopedagogue.FirstName.First(). @Model.Orthopedagogue.LastName</h2>
</div>

<form action="" method="post">
    
</form>
